<div>
  <a (click)="onshowmore()" class=" border border-primary rounded p-2">{{ toggleBtn }}</a>
  <div *ngIf="showMore" class="m-3">
    <p>Engineering graduates (2020/2021/2022) exploring to kick start their career in technology. Ideal candidate should have hand-on interest in programming and some experience in writing software applications. If you have a GitHub profile, please provide link to your work. Nice to have internship / college project. Knowledge of one or more programming language to write fully executable and functional code is very desirable.</p>
    <br>
    <div>
        Requirements
        <ul>
            <li>1+ years of experience in client focused positions involving technical knowledge of a company's products or services.</li>
            <li>Comfortable with basic data structures.</li>
            <li>Familiar with Linux OS, MySql</li>
            <li>Fast learner</li>
            <li>Excellent Verbal & Written Communication skills.</li>
        </ul>
    </div>
  </div>
</div>
