.sidebar
{
    background-color: #131414;
    min-height: 600px;
    color: white;
}
.mainpage
{
    background-color: #b3ffff;
    min-height: 600px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
